@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/lib/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/lib/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
}
@section Scripts {
    <script src="~/js/custom.js"></script>
    <script src="~/lib/parallax-js-master/parallax.min.js"></script>
    <script src="~/lib/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/OwlCarousel2-2.2.1/owl.carousel.js"></script>

}
<div class="products">
    <div class="container pt-5">>
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </header>
    </div>
</div>